$hover-color: #f7f7f7;

$bg_no: #ffede9;
$bg_maybe: #fcf7e1;
$bg_unvoted: #fff4c8;
$bg_yes: #ebf5d6;
$bg_information: #b19c3e;

$fg_no: #f45573;
$fg_maybe: #f0db98;
$fg_unvoted: #f0db98;
$fg_yes: #49bc49;

$bg_current_user: #f7f7f7;
$fg_current_user: #0082c9;

// various structure data
/* $header-height: 50px; */
$navigation-width: 300px;
$sidebar-min-width: 300px;
$sidebar-max-width: 500px;
