$hover-color: #f7f7f7;

$bg_no: #ffede9;
$bg_maybe: #fcf7e1;
$bg_unvoted: #fff4c8;
$bg_yes: #ebf5d6;
$bg_information: #b19c3e;

$fg_no: #f45573;
$fg_maybe: #f0db98;
$fg_unvoted: #f0db98;
$fg_yes: #49bc49;

$bg_current_user: #f7f7f7;
$fg_current_user: #0082c9;

--icon-app: url('/index.php/svg/polls/app/888888?v=1');
--icon-yes: url('/index.php/svg/core/actions/checkmark/49bc49?v=1');
--icon-no: url('/index.php/svg/core/actions/close/f45573?v=1');
--icon-maybe: url('/index.php/svg/polls/maybe-vote/f0db98?v=1');
--icon-comment-yes: url('/index.php/svg/core/actions/comment/49bc49?v=1');
--icon-comment-no: url('/index.php/svg/core/actions/comment/f45573?v=1');
