/* line 1, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.user-group-list {
  display: none;
  border: 1px solid #ddd;
  margin: 15px;
  padding: 5px;
  border-radius: 3px;
  max-height: 150px;
  overflow-y: auto;
}
/* line 11, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
#sec_name {
  display: none;
}
/* line 15, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.cl_access_item {
  padding: 5px;
  background-color: white;
  color: #333;
  cursor: pointer;
}
/* line 22, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.cl_access_item:hover {
  background-color: #eee;
}
/* line 26, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.cl_access_item.selected {
  background-color: #409ae7;
  color: #fff;
}
/* line 31, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.cl_access_item.selected:hover {
  background-color: #ff6f6f;
  color: #fff;
  text-decoration: line-through;
}
/* line 37, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
textarea {
  min-height: 66px;
}
/* line 41, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.choices {
  margin-top: 10px;
}
/* line 45, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.choices td {
  min-width: 30px;
}
/* line 49, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
table td {
  text-align: center;
}
/* line 53, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.text-row, .date-row {
  font-weight: bold;
  padding: 2px 5px;
  background-color: #337ab7;
  color: #fff;
  text-align: left;
}
/* line 61, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
.text-row:hover, .date-row:hover {
  background-color: #ff6f6f;
  text-decoration: line-through;
}
/* line 66, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
#selected-dates-table tr:first-child td {
  font-weight: bold;
  padding: 2px 5px;
  background-color: #337ab7;
  color: #fff;
}
/* line 74, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
table .icon-close {
  cursor: pointer;
  background-color: #ffede9;
  /*red*/
  padding: 0 5px;
  background-image: url('../../../apps/polls/css/../img/no-vote.svg');
}
/* line 81, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
table .icon-checkmark {
  cursor: pointer;
  background-color: #ebf5d6;
  /*green*/
  padding: 0 5px;
  background-image: url('../../../apps/polls/css/../img/yes-vote.svg');
}
/* line 88, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/createpoll.scss */
#expiration {
  max-width: 200px;
}
