.list-enter-active, .list-leave-active {
	transition: all 0.5s ease;
}

.list-enter, .list-leave-to {
	opacity: 0;
}

.list-move {
	transition: transform 0.5s;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.workbench {
	width: 100%;
	padding: 12px 17px;
	.poll-creation {
		width: 420px;
		padding: 8px 8px 0 0;
		flex-shrink: 0;
		#text-select-container {
			> input {
				width: 100%;
			}
		}
	}
	.poll-table {
		padding: 32px 8px 0 0;
		width: 100%;
	}
	.form-actions {
		padding: 15px 0 15px 0;
	}
}

.detailsView .close.flex-row {
  justify-content: flex-end;
  margin: 8px 8px 0 0;
}

#app .ui-datepicker-inline{
	width: 225px;
	&.ui-datepicker{
		&.ui-widget {
			filter: unset;
			border: 1px solid #ddd;
		}
	}
	& * {
		box-sizing: content-box;
	}
}

.table-row.table-body, .table-row.table-body:focus, .table-row.table-body:active, .table-row.table-body.mouseOver {
}

.poll-box {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 2em;
	background-color: #fff;
	min-height: 4em;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	white-space: nowrap;
	&:hover {
		transition: background-color 0.3s ease;
		background-color: #f8f8f8;
	}
	.poll-item {
		flex-grow: 1;
	}
}

button {
	&.button-inline{
		border: 0;
		background-color: transparent;
	}
}


[class^="icon-"], [class*=" icon-"] {
	padding-left: 44px;
}