@import 'colors.scss';

#content {
	display: flex;
/* 	height: unset;
	width: unset;  */
}

#create-poll {
	width: 100%;
	input.hasTimepicker {
		width: 75px;
	}
}

.controls {
	display: flex;
	/* flex-direction: row; */
	/* flex-grow: 0; */
	border-bottom: 1px solid $color-border;
	position: fixed;
	background: $color-main-background;
	width: 100%;
	height: 45px;
	z-index: 1001;
	.button, button {
		flex-shrink: 0;
		/* box-sizing: border-box; */
		/* display: inline-block; */
		height: 36px;
		padding: 7px 10px;
		border: 0;
		background: transparent;
		color: #aaa;
		&.primary {
			background: $color-primary;
			color: $color-primary-text;
		}
	}
	.breadcrump {
		/* flex-shrink: 1; */
		overflow: hidden;
		min-width: 35px;
		div.crumb:last-child {
				flex-shrink: 1;
				overflow: hidden;
			> span {
				flex-shrink: 1;
				text-overflow: ellipsis;
			}
		}
	}
}

.polls-content {
	display: flex;
	padding-top: 45px;
	/* flex-direction: row; */
	/* flex-grow: 1; */
	.workbench {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		overflow: hidden;
		/* flex-shrink: 1; */
		/* flex-direction: row; */
		/* align-items: flex-start; */
		/* align-content: flex-start; */
		/* width: 465px; */
		
		
		> div {
			min-width: 245px;
			display: flex;
			flex-direction: column;
			/* width: 540px; */
			/* flex-shrink: 1; */
			flex-grow: 1;
			padding: 8px;
		}
	}
}

input, textarea {
	&.error {
		border: 2px solid $color-error;
		box-shadow: 1px 0 $border-radius $color-box-shadow;
	}
}

/* Transitions for inserting and removing list items */
	.list-enter-active, .list-leave-active {
		transition: all 0.5s ease;
	}

	.list-enter, .list-leave-to {
		opacity: 0;
	}

	.list-move {
		transition: transform 0.5s;
	}
/*  */


/* #poll-item-selector-date { */
	/* padding-right: 8px; */
/* } */

#poll-item-selector-text {
	> input {
		width: 100%
	}
}

.poll-table {
	>li {
		display: flex;
		align-items: center;
		padding-left: 8px;
		padding-right: 8px;
		line-height: 2em;
		min-height: 4em;
		border-bottom: 1px solid #ebebeb;
		overflow: hidden;
		white-space: nowrap;
		/* flex-direction: row; */
		/* flex-grow: 1; */
		/* width: 100%; */
		/* background-color: $color-main-background; */
		&:hover, &:active {
			transition: background-color 0.3s ease;
			background-color: $hover-color;
		}
		> div {
			display: flex;
			flex-grow: 1;
			font-size: 1.2em;
			opacity: 0.7;
			white-space: normal;
			padding-right: 4px;
			&.avatar {
				flex-grow: 0;
			}
		}

		> div:nth-last-child(1) {
			justify-content: center;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}

button {
	&.button-inline{
		border: 0;
		background-color: transparent;
	}
}

.autocomplete {
	/* width: 100%; */
	position: relative;
}

#share-list {
	.user-list {
		max-height: 180px;
		overflow: auto;
		border: 1px solid #ccc;	
		margin-top: -3px;
		border-top: none;
		position: absolute;
		background: #fff;
		z-index: 1;
		width: 99%;
	}
}
