@import 'polls-variables.scss';
@import 'main.scss';

.user-group-list {
	display: none;
	border: 1px solid #DDD;
	margin: 15px;
	padding: 5px;
	border-radius: 3px;
	max-height: 150px;
	overflow-y: auto;
}

#sec_name {
	display: none;
}

/* #app-content #app-content-wrapper {
	flex-direction: column;
}
 */
.cl_access_item {
	padding: 5px;
	background-color: white;
	color: #333;
	cursor: pointer;

	&:hover {
		background-color: #EEE;
	}

	&.selected {
		background-color: #409AE7;
		color: #FFF;
		&:hover {
			background-color: #FF6F6F;
			color: #FFF;
			text-decoration: line-through;
		}
	}
}



textarea {
	min-height: 66px;
}

.choices {
	margin-top: 10px;
	td {
		min-width: 30px;
	}
}


table{
	td {
		text-align: center;
	}
	
	.icon-close {
		cursor: pointer;
		background-color: $bg_no; /*red*/
		padding: 0 5px;
		background-image: url('../img/no-vote.svg');
	}

	.icon-checkmark {
		cursor: pointer;
		background-color: $bg_yes; /*green*/
		padding: 0 5px;
		background-image: url('../img/yes-vote.svg');
	}
}

.text-row, .date-row {
	font-weight: bold;
	padding: 2px 5px;
	background-color: #337AB7;
	color: #FFF;
	text-align: left;
	&:hover {
		background-color: #ff6f6f;
		text-decoration: line-through;
	}
}

	
#selected-dates-table tr:first-child td {
	font-weight: bold;
	padding: 2px 5px;
	background-color: #337AB7;
	color: #FFF;
}

#expiration {
	max-width: 200px;
}

#pollDesc {
	width: 100%;
}
