@import 'colors.scss';


textarea {
	&:not(:disabled) {
		&:active, 
		&:hover, 
		&:focus {
			border-color: $color-primary-element !important;
			outline: none !important;
		}
	}
}

.list-enter-active, .list-leave-active {
	transition: all 0.5s ease;
}

.list-enter, .list-leave-to {
	opacity: 0;
}

.list-move {
	transition: transform 0.5s;
}

#poll-item-selector-date {
	padding: 0 8px 0 0;
}

.poll-table {
	padding: 8px 8px 0 0;
	flex-grow: 1;
}
.workbench {
	padding: 0 17px;
	> div {
		padding-bottom: 15px;
	}
}

#app {
	.ui-datepicker-inline{
		width: 240px;
		&.ui-datepicker{
			&.ui-widget {
				filter: unset;
				border: 1px solid #ddd;
			}
		}
		& * {
			box-sizing: content-box;
		}
	}
	input.hasTimepicker {
		width: 75px;
	}
}

li.flex-row {
	flex-grow: 0;
	align-items: center;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 2em;
	background-color: $color-main-background;
	min-height: 4em;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	white-space: nowrap;
	&:hover {
		transition: background-color 0.3s ease;
		background-color: $hover-color;
	}
	> div {
		flex-grow: 1;
		font-size: 1.2em;
		opacity: 0.7;
	}

	> div:nth-last-child(1) {
		justify-content: center;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

button {
	&.button-inline{
		border: 0;
		background-color: transparent;
	}
}
.time-seletcion {
	align-items: center;
	> label {
	flex-grow: 1;
	}
}

#poll-item-selector-text {
	> input {
		width: 100%
	}
}
