/* line 32, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2em;
  transition: background-color 0.3s ease;
  background-color: #fff;
  min-height: 4em;
  border-bottom: 1px solid #eee;
}
/* line 44, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 45, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-header .name, .row.table-header .description {
  padding-left: 52px;
}
/* line 48, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-header .owner {
  padding-left: 6px;
}
/* line 53, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 54, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-body:hover, .row.table-body:focus, .row.table-body:active, .row.table-body.mouseOver {
  transition: background-color 0.3s ease;
  background-color: #f8f8f8;
}
/* line 58, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-body .column.owner {
  display: flex;
}
/* line 60, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-body .column.owner .avatardiv {
  margin-right: 4px;
}
/* line 64, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-body .icon-more {
  right: 14px;
  opacity: 0.3;
  cursor: pointer;
  height: 44px;
  width: 44px;
}
/* line 72, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-body .symbol {
  padding: 2px;
}
/* line 78, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.row.table-header {
  color: #999;
}
/* line 83, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
/* line 93, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.column {
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  min-height: 16px;
}
/* line 102, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.name {
  width: 150px;
}
/* line 106, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.description {
  width: 150px;
  color: #888;
}
/* line 111, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.owner {
  width: 140px;
}
/* line 115, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.access {
  width: 140px;
}
/* line 119, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.created {
  width: 120px;
}
/* line 123, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.expiry {
  width: 120px;
}
/* line 125, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.expiry.expired {
  color: #fff;
  background-color: #f45573;
  border-radius: 3px;
}
/* line 133, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.participants {
  width: 80px;
}
/* line 135, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 136, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 137, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.participants div.partic_voted.icon-partic_yes {
  background-image: url('../../../apps/polls/css/../img/yes-vote.svg');
}
/* line 140, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.participants div.partic_voted.icon-partic_no {
  background-image: url('../../../apps/polls/css/../img/no-vote.svg');
}
/* line 145, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 146, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.participants div.partic_commented.icon-commented_yes {
  background-image: url('../../../apps/polls/css/../img/yes-comment.svg');
}
/* line 150, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.participants div.partic_commented.icon-commented_no {
  background-image: url('../../../apps/polls/css/../img/no-comment.svg');
}
/* line 160, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.actions {
  width: 44px;
  position: relative;
  overflow: initial;
}
/* line 168, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.thumbnail {
  background-size: 32px;
  width: 44px;
  height: 44px;
  padding-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 175, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 176, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.thumbnail.progress.partic_yes, .thumbnail.endless.partic_yes {
  background-image: url('../../../apps/polls/css/../img/open-voted-vote.svg');
}
/* line 179, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.thumbnail.progress.partic_no, .thumbnail.endless.partic_no {
  background-image: url('../../../apps/polls/css/../img/open-unvoted-vote.svg');
}
/* line 183, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
/* line 184, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.thumbnail.expired.partic_yes {
  background-image: url('../../../apps/polls/css/../img/expired-voted-vote.svg');
}
/* line 187, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.thumbnail.expired.partic_no {
  background-image: url('../../../apps/polls/css/../img/expired-unvoted-vote.svg');
}
/* line 194, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.options, .participants {
  display: flex;
  flex-direction: row;
}
/* line 199, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.group-1, .group-1-1, .group-master {
  flex-grow: 1;
}
/* line 203, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.group-1-1 {
  flex-direction: column;
  width: 150px;
}
/* line 206, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
.group-1-1 > div {
  width: 100%;
}
@media all and (max-width: 868px) {
  /* line 214, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .group-1 {
    width: 238px;
  }
  /* line 217, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .group-2-1, .group-2-2 {
    flex-direction: column;
  }
  /* line 221, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .access, .created {
    width: 140px;
  }
  /* line 224, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .expiry, .participants {
    width: 120px;
  }
}
@media all and (max-width: 668px) {
  /* line 231, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .row {
    padding: 0;
  }
  /* line 235, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .group-2-1 {
    display: none;
  }
}
@media all and (max-width: 548px) {
  /* line 242, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/list.scss */
  .group-2 {
    display: none;
  }
}
