// colors
    $bg_no: #ffede9;
    $bg_yes: #ebf5d6;
    $fg_no: #f45573;
    $fg_yes: #49bc49;

// define widths

$row-padding: 15px;

$options-width: 90px;
$group-3-width: $options-width;

$date-width: 120px;
$participants-width: 80px;
$group-2-width: max($date-width, $participants-width);

$principal-width: 140px;
$access-width: 140px;
$group-1-2-width: max($principal-width, $access-width);

$name-width: 100px;
$description-width: 100px;
$group-1-1-width: max($name-width, $description-width);

$group-1-width: max($group-1-1-width, $group-1-2-width);

$group-master-width: max($group-1-width, $group-2-width, $group-3-width);

// first media break
$mediabreak-1: ($name-width + $description-width + $principal-width + $access-width + $date-width + $date-width + $participants-width + $options-width + $row-padding * 2);
// $mediabreak-1: 1199px;
$mediabreak-2: $group-1-1-width + $group-1-2-width + $group-2-width + $group-3-width  + $row-padding * 2;
// $mediabreak-2: 694px;
$mediabreak-3: $group-1-width + $group-2-width + $group-3-width;
// $mediabreak-3: 539px;


.table, .row, .column {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    
}

#controls h2 {
	float: left;
	padding: 15px 15px 0 15px;
}

.icon-polls {
	background-color: black;
	mask: url('../img/app-logo-polls.svg') no-repeat 50% 50%;
}

.table { 
    position: relative;
    &.has-controls { 
        top: 44px;
    }
}

.row {
    display: flex;           display: -webkit-flex;
    // flex-direction: row;     -webkit-flex-direction: row;
    // flex-wrap: no-wrap;      -webkit-flex-wrap: no-wrap;
    width: 100%;
    padding-left:  $row-padding;
    padding-right: $row-padding;
    
    line-height: 2em;
    transition: background-color 0.3s ease;
    background-color: #fff;
    min-height: 4em;
    border-bottom: 1px solid #eee;

    &.table-body {
        &:hover, &:focus, &:active, &.mouseOver {
            transition: background-color 0.3s ease;
            background-color: #f8f8f8;
        }
        .column.principal {
            display: flex;
            // flex-direction: row;     -webkit-flex-direction: row;
            .avatardiv {
                margin-right: 4px;
            }
        }

/*         .symbol {
            padding: 2px;
        }
 */
    }

    &.table-header {
        color: #999;
    }
}    

.wrapper {
	display: flex; 	        display: -webkit-flex;
	// flex-direction: row; 	-webkit-flex-direction: row;
    // vertical-align: middle;
    align-items: center;
    div {
        // vertical-align: middle;
    }
}


.column {
    // flex-grow: 0;       -webkit-flex-grow: 0;
    // flex-shrink: 0;     -webkit-flex-shrink: 0;
    padding: 0 4px;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    // vertical-align: middle;
    align-items: center;
}

.name {
    width: $name-width;
}

.description {
    width: $description-width;
    color: #888;
    }
    
.principal {
    width: $principal-width;
}

.access {
    width: $access-width;
}

.created {
    width: $date-width;
}

.expiry {
    width: $date-width;
    &.expired {
        color: red;
    }
}

.participants{
    width: $participants-width;
    div {
        &.partic_voted {
            &.icon-partic_yes {
                // background-color: $bg_yes;
                background-image: url('../img/yes-vote.svg');

            }
            &.icon-partic_no {
                // background-color: $bg_no;
                background-image: url('../img/no-vote.svg');
            }
        }

        &.partic_commented {
            &.icon-partic_yes {
                // background-color: $bg_yes;
                background-image: url('../img/yes-comment.svg');
            }
            &.icon-partic_no {
                // background-color: $bg_no;
                background-image: url('../img/no-comment.svg');
            }
        }
    }

}


.options {
    width: $options-width;
}

[class^="icon-"], [class*=" icon-"] {
    padding: 2px;
}

.thumbnail {
    background-size: 32px;
    width: 36px;
    height: 32px;
    // padding-right: 4px;
    background-repeat: no-repeat;
    &.progress {
        background-image: url('../img/progress-vote.svg'); 
    }    
    &.expired {
        background-image: url('../img/finished-vote-red.svg'); 
    }    
    &.endless {
        background-image: url('../img/finished-vote.svg'); 
    }    
}

.name, .description {
	// flex-grow: 1; 	-webkit-flex-grow: 1;
	// overflow: hidden;
	// white-space: nowrap;
	// text-overflow: ellipsis;
}

.options, .participants {
    display: flex;
    flex-direction: row;     -webkit-flex-direction: row;
}

.group-1, .group-1-1, .group-master {
    flex-grow: 1;     -webkit-flex-grow: 1;
}

.group-1-1 {
    flex-direction: column;         -webkit-flex-direction: column;
    width: $group-1-1-width;
     div {
        // flex-grow: 0;              -webkit-flex-grow: 0;
    }

    > div {
         width: 100%;
    } 
}
  


@media all and (max-width: ($mediabreak-1) ) {
    .group-1-2, .group-2, .group-3 {
        flex-direction: column; -webkit-flex-direction: column;

         div {
            // flex-grow: 0;  -webkit-flex-grow: 0;
        }
    }
        .column.options {
            flex-direction: column;
            display: flex;
    }
    .access, .principal {
        width: $group-1-2-width;;
    }
    .created, .expiry, .participants {
        width: $group-2-width;;
    }
    .options {
        width: $group-3-width;;
        
    }
    // .symbol {
        // padding: 0;
    // }
}

@media all and (max-width: ($mediabreak-2) ) {

    .row {
        padding: 0;
    }
        
    .group-1-2 {
        display: none;
    }
}

@media all and (max-width: ($mediabreak-3) ) {
    
    .group-2 {
        display: none;
    }
} 
    