// define widths
$name-width: 100px;
$description-width: 240px;
$principal-width: 180px;
$access-width: 85px;
$date-width: 140px;
$participants-width: 140px;
$options-width: 105px;
$wrapper-1-1-width: max($name-width, $description-width);
$wrapper-1-2-width: max($principal-width, $access-width);
$wrapper-1-width: max($wrapper-1-1-width, $wrapper-1-2-width);
$wrapper-2-width: max($date-width, $participants-width);
$wrapper-3-width: max($options-width);

// first media break
$mediabreak-1: 1199px;
$mediabreak-2: 694px;
$mediabreak-3: 539px;


#controls h2 {
	float: left;
	padding: 15px 15px 0 15px;
}

.icon-polls {
	background-color: black;
	mask: url('../img/app-logo-polls.svg') no-repeat 50% 50%;
}

.table { 
    position: relative;
    &.has-controls { 
        top: 44px;
    }
    
}

.row {
    display: flex; 
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: no-wrap;
    -webkit-flex-wrap: no-wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
    line-height: 2em;
    transition: background-color 0.3s ease;
    background-color: #fff;
    min-height: 40px;
    border-bottom: 1px solid #eee;

    &.table-body {
        &:hover, &:focus, &:active, &.mouseOver {
            transition: background-color 0.3s ease;
            background-color: #f8f8f8;
        }
        .participants {
        }
    }

    &.table-header {
        color: #999;
    }
}    

.wrapper {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}


.column {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    vertical-align: top;
    padding: 0 4px;

}

.name {width: $name-width;}
.description {
    width: $description-width;
    color: #888;
    }
.principal {width: $principal-width;}
.access {width: $access-width;}
.created {width: $date-width;}
.expiry {width: $date-width;}
.participants{width: $participants-width;}
.options {width: $options-width;}

.name, .description {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wrapper-1, .wrapper-1-1 {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}


@media all and (max-width: ($mediabreak-1) ) {

    .wrapper-1-1 {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: $wrapper-1-1-width;
        div {
            flex-grow: 0;
            -webkit-flex-grow: 0;
        }
  
        > div {
            width: 100%;
        }
    }
  
    .wrapper-1-2, .wrapper-2, .wrapper-3 {
        flex-direction: column;
        -webkit-flex-direction: column;
        div {
            flex-grow: 0;
            -webkit-flex-grow: 0;
        }
  
    }
}

@media all and (max-width: ($mediabreak-2) ) {

    .wrapper-1 {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: $wrapper-1-width;
    }
    
    .wrapper-1-1 {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 100%;
        div {
            flex-grow: 0;
            -webkit-flex-grow: 0;
        }
  
        > div {
            width: 100%;
        }
    }
    .wrapper-1-2 {
        flex-direction: row;
        -webkit-flex-direction: row;
    
    }
    .wrapper-2, .wrapper-3 {
        flex-direction: column;
        -webkit-flex-direction: column;
        div {
            flex-grow: 0;
            -webkit-flex-grow: 0;
        }
  
    }
}

