$bg_no: #ffede9;
$bg_yes: #ebf5d6;
$fg_no: #f45573;
$fg_yes: #49bc49;

$row-padding: 15px;
$table-padding: 4px;

$date-width: 120px;
$participants-width: 80px;
$group-2-2-width: max($date-width, $participants-width);

$owner-width: 140px;
$access-width: 140px;
$group-2-1-width: max($access-width, $date-width);
$group-2-width: $owner-width + $group-2-1-width + $group-2-2-width;

$action-width: 44px;
$thumbnail-width: 44px;
$thumbnail-icon-width: 32px;
$name-width: 150px;
$description-width: 150px;
$group-1-1-width: max($name-width, $description-width);
$group-1-width: $thumbnail-width + $group-1-1-width + $action-width;

$group-master-width: max($group-1-width, $group-2-width);

$mediabreak-1: ($group-1-width + $owner-width + $access-width + $date-width + $date-width + $participants-width + $row-padding * 2);
$mediabreak-2: ($group-1-width + $group-2-width + $row-padding * 2);
$mediabreak-3: $group-1-width + $owner-width + max($group-2-1-width, $group-2-2-width) + $row-padding *2 ;


.table, .row, .column {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

/* #controls h2 {
	float: left;
	padding: 15px 15px 0 15px;
}
 */

.icon-polls {
	background-color: black;
	mask: url('../img/app-logo-polls.svg') no-repeat 50% 50%;
}

.table {
	position: relative;
	&.has-controls {
		top: 44px;
	}
}

.row {
	display: flex;
	width: 100%;
	padding-left:  $row-padding;
	padding-right: $row-padding;

	line-height: 2em;
	transition: background-color 0.3s ease;
	background-color: #fff;
	min-height: 4em;
	border-bottom: 1px solid #eee;

	&.table-header {
		.name, .description {
			padding-left: ($thumbnail-width + $table-padding *2);
		}
		.owner {
			padding-left: 6px;
		}
	}

	&.table-body {
		&:hover, &:focus, &:active, &.mouseOver {
			transition: background-color 0.3s ease;
			background-color: #f8f8f8;
		}
		.column.owner {
			display: flex;
			.avatardiv {
				margin-right: 4px;
			}
		}
		.icon-more {
			right: 14px;
			opacity: 0.3;
			cursor: pointer;
			height: 44px;
			width: 44px;
		}

		 .symbol {
			padding: 2px;
		}

	}

	&.table-header {
		color: #999;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	position: relative;
	div {
		// vertical-align: middle;
	}
}


.column {
	padding: 0 $table-padding;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	align-items: center;
	min-height: 16px;
}

.name {
	width: $name-width;
}

.description {
	width: $description-width;
	color: #888;
	}

.owner {
	width: $owner-width;
}

.access {
	width: $access-width;
}

.created {
	width: $date-width;
}

.expiry {
	width: $date-width;
	&.expired {
		color: red;
	}
}

.participants{
	width: $participants-width;
	div {
		&.partic_voted {
			&.icon-partic_yes {
				background-image: url('../img/yes-vote.svg');
			}
			&.icon-partic_no {
				background-image: url('../img/no-vote.svg');
			}
		}

		&.partic_commented {
			&.icon-commented_yes {
				// background-color: $bg_yes;
				background-image: url('../img/yes-comment.svg');
			}
			&.icon-commented_no {
				// background-color: $bg_no;
				background-image: url('../img/no-comment.svg');
			}
		}
	}

}


.actions {
	width: $action-width;
	position: relative;
	overflow: initial;
}



.thumbnail {
	background-size: $thumbnail-icon-width;
	width: $thumbnail-width;
	height: $thumbnail-width;
	padding-right: $table-padding;
	background-repeat: no-repeat;
	background-position: center;
	&.progress, &.endless {
		&.partic_yes {
		background-image: url('../img/open-voted-vote.svg');
		}
		&.partic_no {
		background-image: url('../img/open-unvoted-vote.svg');
		}
	}
	&.expired {
		&.partic_yes {
		background-image: url('../img/expired-voted-vote.svg');
		}
		&.partic_no {
		background-image: url('../img/expired-unvoted-vote.svg');
		}
	}
}


.options, .participants {
	display: flex;
	flex-direction: row;	 -webkit-flex-direction: row;
}

.group-1, .group-1-1, .group-master {
	flex-grow: 1;	 -webkit-flex-grow: 1;
}

.group-1-1 {
	flex-direction: column;		 -webkit-flex-direction: column;
	width: $group-1-1-width;
	> div {
		 width: 100%;
	}
}



@media all and (max-width: ($mediabreak-1) ) {
	.group-1 {
		width: $group-1-width;
	}
	.group-2-1, .group-2-2 {
		flex-direction: column; -webkit-flex-direction: column;
	}

	.access, .created {
		width: $group-2-1-width;;
	}
	.expiry, .participants {
		width: $group-2-2-width;;
	}
}

@media all and (max-width: ($mediabreak-2) ) {

	.row {
		padding: 0;
	}

	.group-2-1 {
		display: none;
	}
}

@media all and (max-width: ($mediabreak-3) ) {

	.group-2 {
		display: none;
	}
}
	
