/* line 1, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
h1 {
  font-size: 1.8em;
  margin-bottom: 5px;
}
/* line 6, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#app header {
  padding-top: 44px;
}
/* line 10, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.icon-polls {
  background-color: black;
  mask: url('../../../apps/polls/css/../img/polls.svg') no-repeat 50% 50%;
}
/* line 15, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
/* line 16, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.description .expired-vote {
  color: red;
  font-weight: bold;
}
/* line 23, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#controls {
  position: relative !important;
  padding: 0 17px 0 0;
  width: inherit;
  z-index: 120;
  display: flex;
  align-items: center;
  position: inherit;
  top: 0;
  width: 100% !important;
}
/* line 34, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#controls #breadcrump {
  width: 350px;
  flex-grow: 1;
}
/* line 39, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#controls h2 {
  margin-top: 12px;
}
/* line 44, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.table {
  position: relative;
}
/* line 48, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#app-sidebar {
  display: none;
  flex-direction: column;
}
/* line 52, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#app-sidebar .share, #app-sidebar h2, #app-sidebar .comments {
  padding: 15px;
}
/* line 55, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#app-sidebar .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  z-index: 200;
}
/* line 64, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.col-100 {
  width: 100%;
  padding: 0px 15px;
}
/* line 69, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.col-50 {
  width: 50%;
  float: left;
  padding: 0px 15px;
}
/* line 75, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.col-70 {
  width: 65%;
  float: left;
  padding: 0px 15px;
}
/* line 77, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.col-30 {
  width: 35%;
  float: left;
  padding: 0px 15px;
}
@media (max-width: 992px) {
  /* line 80, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
  .col-70, .col-30, .col-50 {
    float: none;
    width: 100%;
  }
}
/* line 87, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
input[type="text"] {
  display: block;
  width: 100%;
}
/* line 92, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
textarea {
  min-width: 100%;
  max-width: 100%;
}
/* line 97, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.form-actions {
  padding: 15px;
}
/* line 101, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.goto_poll {
  width: 100%;
}
/* line 105, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
div.new_poll {
  width: 100%;
}
/* line 109, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
input.table_button {
  background-color: transparent;
  border: none;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}
/* line 117, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
div.scroll_div {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 123, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
div.scroll_div_dialog {
  width: 100%;
  height: 250px;
  overflow-y: auto;
}
/* line 129, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.bordered {
  border-left: 1px solid #fff;
}
/* line 133, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
tbody th {
  text-align: left;
}
/* line 137, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
td.td_shown {
  visibility: visible;
}
/* line 141, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.td_hidden {
  visibility: hidden;
  visibility: collapse;
}
/* line 146, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.td_selected {
  background-color: #82de82;
}
/* line 150, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.td_deselected {
  background-color: white;
}
/* line 154, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_with_border td {
  padding-right: 15px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}
/* line 164, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.scrollable_table {
  table-layout: fixed;
}
/* line 168, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.description {
  color: #888;
}
/* line 172, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.wordwrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
}
/* line 178, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_title {
  font-size: 2em;
}
/* line 182, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input_title {
  display: block;
  font-size: 1.2em;
  margin-top: 5px;
}
/* line 187, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.padded td {
  padding: 10px;
}
/* line 191, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.userNameImg {
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 16px;
}
/* line 197, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.noAvatar {
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  font-size: 19px;
  display: inline-block;
}
/* line 208, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_time_display {
  background-color: aqua;
  cursor: pointer;
}
/* line 212, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_date_time_header:hover {
  background-color: red;
}
/* line 215, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_hour, .cl_min {
  cursor: pointer;
  background-color: white;
}
/* line 219, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_hour_selected, .cl_min_selected {
  background-color: #82de82;
}
/* line 223, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_poll_url, .cl_date_time_header {
  cursor: pointer;
}
/* line 227, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_pad_left {
  padding-left: 30px;
}
/* line 231, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_del_item {
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}
/* line 236, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_del_item:hover {
  background-color: #ffccca;
}
/* line 239, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_maybe:before, .cl_maybe:after {
  content: "?";
}
/* line 243, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_user_comments {
  table-layout: fixed;
}
/* line 247, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_user_comments td {
  text-align: left;
}
/* line 251, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.cl_user_comments th {
  word-wrap: break-word;
  vertical-align: top;
  text-align: center;
}
/* line 257, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.user_comment {
  font-size: 0.9em;
}
/* line 261, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.user_comment {
  padding-bottom: 10px;
}
/* line 265, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.user_comment_text {
  margin-top: -5px;
  margin-left: 5px;
}
/* line 270, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#id_tab_total {
  height: 2em;
  width: 100%;
  text-align: center;
}
/* line 276, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#id_tab_total tr:nth-child(even) {
  color: #000;
}
/* line 280, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#id_cal_table td {
  padding: 10px;
}
/* line 283, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#id_time_table td {
  padding: 8px;
}
/* line 286, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
#id_poss_table td {
  padding-left: 2px;
}
/* line 290, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
/* line 297, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group > input, .input-group-addon, .input-group-btn {
  display: table-cell;
}
/* line 301, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  width: 1%;
}
/* line 315, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group-addon input[type="checkbox"] {
  margin: 0;
}
/* line 319, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group-btn {
  vertical-align: top;
}
/* line 323, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group-btn .btn {
  height: 31.25px;
  border: 1px solid #ddd;
  margin: 0;
  border-radius: 3px;
  vertical-align: middle;
  display: block;
  width: 100%;
}
/* line 333, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group > input {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin: 0;
}
/* line 341, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group input:first-child, .input-group .input-group-btn:first-child .btn, .input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 345, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group input:last-child, .input-group .input-group-btn:last-child .btn, .input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 349, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group .input-group-btn:first-child .btn, .input-group-addon:first-child {
  border-right: none;
}
/* line 352, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.input-group .input-group-btn:last-child .btn, .input-group-addon:last-child {
  border-left: none;
}
/* line 356, /www/htdocs/v036898/sites/yagst.de/nc13/server/apps/polls/css/main.scss */
.alert-info {
  margin-left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #1d2d44;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}
