$bg_no: #ffede9;
$bg_maybe: #fcf7e1;
$bg_unvoted: #fff4c8;
$bg_yes: #ebf5d6;
$bg_information: #b19c3e;

$fg_no: #f45573;
$fg_maybe: #f0db98;
$fg_unvoted: #f0db98;
$fg_yes: #49bc49;


$bg_current_user: #f7f7f7;
$fg_current_user: #0082c9;
$border_current_user: 2px solid;
$border_user: 1px solid #ddd;
$user-column-width: 265px;

#content {
	display:flex;
}

.row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;

}

.column {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	
}

#votings {
	position: relative !important;
	.description {
		padding: 12px 17px;
	}
}

#controls {
	flex-grow: 0;
}
	
#breadcrump {
	flex-grow: 0;
	overflow: hidden;
}

div.crumb {
	overflow: hidden;
	white-space: nowrap;
	flex-shrink: 0;
}



.header {
	margin-left: $user-column-width;
	padding: 0 17px;
	align-items: initial;
	.vote.option {
		.date-box {
			flex-grow: 1;
		}


		.counter {
			flex-grow: 0;
			height: 32px;
		}	
	}
}

.user {
	border-top: $border_user;
	height: 44px;
	padding: 0 17px;
}

.first {
	flex-grow: 0;
	flex-shrink: 0;
	width: $user-column-width;
}

.vote, .poll-cell {
	flex-grow: 1;
	width: 85px;
	margin: 2px;
	align-items:center;
}

.date-box {
	padding: 0 2px;
	align-items: center;
	.month, .dayow {
		font-size: 1.2em;
		color: #666;
	}

	.day {
		font-size: 1.8em;
		margin: 5px 0 5px 0;
	}
}

.winner {
	font-style: italic;
	font-weight: bold;
	color: $fg_yes;
}

.counter {
	font-size: 18px;
	.yes, .no {
		margin: 0 2px;
		.svg {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 24px;
			height: 24px;
			width: 24px;
		}
	}
	.yes {
		color: $fg_yes;
		.svg {
			background-image: url('../img/yes-vote.svg');
		}
	}			
	.no {
		color: $fg_no;
		.svg {
			background-image: url('../img/no-vote.svg');
		}
	}			
}

.name {
	margin-left: 5px;
}

.poll-cell {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px;
	height: 44px;

	&.active {
		cursor: pointer;
		border: 2px solid;
		border-radius: 4px;
		box-sizing: border-box;
	}

	&.yes {
		background-color: $bg_yes;
		color: $fg_yes;
		background-image: url('../img/yes-vote.svg');
	}

	&.no {
		background-color: $bg_no;
		color: $fg_no;
		background-image: url('../img/no-vote.svg');
	}

	&.maybe {
		background-color: $bg_maybe;
		color: $fg_maybe;
		background-image: url('../img/maybe-vote.svg');
	}

	&.unvoted {
		background-color: $bg_unvoted;
		color: $fg_unvoted;
		background-color: $bg_unvoted;
	}

}

.toggle-cell {
	height: 28px;
	height: 32px;
	width: 32px;
	flex-grow: 0;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px;

	&.yes {
		background-color: $bg_yes;
		background-image: url('../img/yes-toggle.svg');
	}

	&.no {
		background-color: $bg_no;
		background-image: url('../img/no-toggle.svg');
	}

	&.maybe {
		background-color: $bg_maybe;
		background-image: url('../img/maybe-toggle.svg');
	}

}


.current-user {
	background-color: #e6f1f8;
}

#switchDetails {
	margin-right: 6px;
}

.button.details {
	.badge {
		position: relative;
		top: -34px;
		right: -24px;
		background-image: url('../../../apps/polls/css/../img/yes-comment.svg');
		background-repeat: no-repeat;
		background-size: 33px;
		padding: 10px;
		margin: -10px;
		background-position-y: 9px;
		background-position-x: -3px;
		text-shadow: 1px 1px #666;
		color: #fff;
		&.no-comments {
			background-image: url('../../../apps/polls/css/../img/no-comment.svg');
		}
	}
}

.external {
	min-width: 150px;
	.th {
		padding-left: 40px;
		
		input {
			min-width: 100px;
		}
	}
}

.finish_vote {
	padding: 10px 17px;
}


#poll-desc, #comments-container, #poll-dates {
	margin-bottom: 15px;
}

.authorRow {
	position: relative;
	.author {
		margin-left: 8px;
		opacity: .5;
		flex-grow: 1;
		&.external {
			margin-right: 33px;
			opacity: 1;
			> input {
				width: 100%
			}
		}
	}
}

.close.row {
	justify-content: flex-end;
	margin: 8px 8px 0 0;
}

#app-sidebar .header.row {
	flex-direction: row;
	align-items: flex-start;
	margin-left: 0;
	margin-top:0;
}

.pollInformation {
	width: 220px;
	flex-grow: 1;
	flex-shrink: 1;
	padding-right: 15px; 


	.authorRow {
		.leftLabel {
			margin-right: 4px;
		}
	}

	.cloud {
		> span {
			color: #fff;
			margin: 2px;
			padding: 2px 4px;
			border-radius: 3px;
			float: left;
			text-shadow: 1px 1px #666;
			background-color: #aaa;
			
		}
		.open {
			background-color: $fg_yes;
		}
		.expired {
			background-color: $fg_no;
		}
		.information {
			background-color: $bg_information;
		}
	}
}

.pollActions {
    display: flex;
    flex-direction: column;
	margin-right: 15px;

	.close {
		margin: 15px;
		background-position: right top;
		height: 30px;
	}
	
	> ul > li {
		&:focus, &:hover, &.active, a.selected {
			&, > a {
				opacity: 1;
				box-shadow: inset 2px 0 #0082c9;
			}
		}

		> a[class*="icon-"], 
		> ul > li > a[class*="icon-"], 
		> a[style*="background-image"], 
		> ul > li > a[style*="background-image"] {
			padding-left: 44px;
		}

		> a, 
		> ul > li > a {
			background-size: 16px 16px;
			background-position: 14px center;
			background-repeat: no-repeat;
			display: block;
			justify-content: space-between;
			line-height: 44px;
			min-height: 44px;
			padding: 0 12px;
			overflow: hidden;
			box-sizing: border-box;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #000;
			opacity: 0.57;
			flex: 1 1 0;
			z-index: 100;
		}
		a, 
		.app-navigation-entry-deleted {
			padding-left: 44px !important;
		}
	}
}



#commentsTabView {
	.comment {
		margin-bottom: 30px;

		.comment-header {
			background-color: #EEE;
			border-bottom: 1px solid #DDD;
			border-radius: 3px 3px 0 0;
		}
		
		.comment-date {
			float: right;
			color: #555;
		}

		.date {
			position: absolute;
			right: 0;
			top: 5px;
			opacity: .5;
		}
	}
	
	.message {
		margin-left: 40px;
		flex-grow: 1;
		flex-shrink: 1;
	}


	.new-comment {
		.submitComment {
			align-self: last baseline;
			width: 30px;
			margin: 0;
			padding: 7px 9px;
			background-color: transparent;
			border: none;
			opacity: .3;
		}

		.icon-loading-small {
			float: left;
			margin-top: 10px;
			display: none;
		}
	}
}

@media all and (max-width: (768px) ) {
	#app-content {
		position: relative !important;
	}
}
@media all and (max-width: (480px) ) {

	.row {
		flex-direction: column;

		&.user-cell, &.counter, &.counter .yes, &.counter .no, &.controls, &.breadcrump, &.submitPoll, &.newCommentForm, &.close {
			flex-direction: row;
		}

		&.header {
			flex-grow: 1;
			margin-left: 0;
			margin-top: 44px;
			width: 120px;
			padding: 0 0 0 4px;
			.vote {
				padding-right: 10px;
				&.option {
					align-items: baseline;
					width: 100%;
					border-top: $border_user;
				}
				&.time {
					align-items: center;
					width: 100%;
					border-top: $border_user;
					.counter {
						flex-direction: column;
						align-items: right;
					}
				}
			}
		}
		
		&.user {
			display: none;
		}

		&.current-user {
			display: flex;
			width: 44px;
			padding:0;
			border: none;
			background-color: transparent;

			.poll-cell {
				border:none;
				border-radius: 0;
				border-top: 1px solid #ddd;
				background-color: transparent;
				padding: 0 2px;
				&.active {
					&.yes {
						background-image: url('../img/yes-vote-bordered.svg');
					}

					&.no {
						background-image: url('../img/no-vote-bordered.svg');
					}

					&.maybe {
						background-image: url('../img/maybe-vote-bordered.svg');
					}
					&.unvoted {
						background-image: url('../img/unvoted-vote-bordered.svg');
					}
				}
			}
			.user-cell {
				position: absolute;
				left: 22px;
			}
			.poll-cell, .toggle-cell  {
				width: 44px;
				height: 44px;
				background-color: transparent;
			}
		}

	}
	
	.column {
		&.table-body {
			flex-grow: 0;
		}

		&.poll-cell, &.table {
			flex-direction: row;
			align-items: center;
		}
		&.vote.time {
			flex-direction: row;
		}
	}

	.table { 
		display: flex;
		margin-right: 8px;
		padding-bottom: 75px;
	}
	
	.submitPoll {
		border-top: $border_user;
		box-shadow: 0px 0px 9px 2px rgba(153,153,153,1);
		flex-wrap: wrap;
		align-items: center;
		position: fixed;
		background-color: #fff;
		bottom: 0;
		width: 100%;
		.finish_vote {
			padding: 8px 8px;
		}
		.notification {
			display: flex;
			padding: 8px 8px;
			line-height: 2em;
		}
	}
	
	.first {
		height: 44px;
		width: unset;
	}

	#options.row {
		flex-direction: column;
		width: 100%;
	}

}

 @media all and (max-width: (320px) ) {

	.table { 
		padding-bottom: 105px;
	}
}
