@import 'colors.scss';

$border_current_user: 2px solid;
$border_user: 1px solidvar(--color-border-dark);
$user-column-width: 265px;


#content {
	display:flex;
}

.flex-row {
	align-items: center;
}

#app-content {
	width: 100%;
	overflow-x: hidden;

	#votings {
		position: relative !important;
		padding: 12px 17px;
		.table {
			overflow-x: auto;
			padding-bottom: 10px;
		}
		.description {
			.expired-vote{
				color: var(--color-error);
				font-weight: bold;
			}
		}
		.header {
			margin-left: $user-column-width;
			padding: 0 17px;
			align-items: initial;

			.date-box {
				padding: 0 2px;
				align-items: center;
				.month, .dayow {
					font-size: 1.2em;
					color: var(--color-text-lighter);
				}

				.day {
					font-size: 1.8em;
					margin: 5px 0 5px 0;
				}
			}

			.counter {
				font-size: 18px;
				& > div {
					margin: 0 2px;
					.svg {
						background-position: center;
						background-repeat: no-repeat;
						background-size: 18px;
						height: 24px;
						width: 24px;
					}
				}
				.yes {
					color: $fg-yes;
					.svg {
						background-image: var(--icon-yes);
					}
				}
				.no {
					color: $fg-no;
					.svg {
						background-image: var(--icon-no);
					}
				}
			}

			.winner {
				font-weight: bold;
				color: $fg-yes;
			}
			.vote.option {
				.date-box {
					flex-grow: 1;
				}

				.counter {
					flex-grow: 0;
					height: 32px;
				}
			}
		}
		.user {
			border-top: $border_user;
			height: 44px;
			padding: 0 17px;
		}
		.first {
			flex-grow: 0;
			flex-shrink: 0;
			width: $user-column-width;
		}

		.vote, .poll-cell {
			flex-grow: 1;
			width: 85px;
			margin: 2px;
			align-items:center;
		}
	}
}



.name {
	margin-left: 5px;
}

.poll-cell {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px;
	height: 44px;

	&.yes {
		background-color: $bg-yes;
		color: $fg-yes;
		background-image: var(--icon-yes);
	}

	&.no {
		background-color: $bg-no;
		color: $fg-no;
		background-image: var(--icon-no);
	}

	&.maybe {
		background-color: $bg-maybe;
		color: $fg-maybe;
		background-image: var(--icon-maybe);
	}

	&.unvoted {
		background-color: $bg-no;
		color: $fg-no;
		&:before {
			content: attr(data-unvoted);
			color: $fg-no;
			font-size: 14px;
			font-weight: bold;
			line-height: 38px;
		}
	}

	&.active {
		cursor: pointer;
		border: 2px solid;
		border-radius: var(--border-radius);
		box-sizing: border-box;
		&.unvoted {
		background-color: $bg-maybe;
		color: $fg-maybe;
		}
	}
}

.toggle-cell {
	height: 28px;
	height: 32px;
	width: 32px;
	flex-grow: 0;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px;

	&.yes {
		background-color: $bg-yes;
		background-image: url('../img/yes-toggle.svg');
	}

	&.no {
		background-color: $bg-no;
		background-image: url('../img/no-toggle.svg');
	}

	&.maybe {
		background-color: $bg-maybe;
		background-image: url('../img/maybe-toggle.svg');
	}

}


.current-user {
	background-color: var(--color-background-dark);
}

#switchDetails {
	margin-right: 32px;
}

.button.details {
	.badge {
		position: relative;
		top: -34px;
		left: -26px;
		background-image: var(--icon-comment-yes);
		background-repeat: no-repeat;
		background-size: 33px;
		padding: 10px;
		margin: -10px;
		background-position-y: 9px;
		background-position-x: center;
		text-shadow: 1px 1px var(--color-box-shadow);
		color: var(--color-main-text);
		min-width: 34px;
		text-align: center;
		&.no-comments {
			background-image: var(--icon-comment-no);
		}
	}
}

.external {
	min-width: 150px;
	.th {
		padding-left: 40px;

		input {
			min-width: 100px;
		}
	}
}

.finish_vote {
	padding: 10px 17px;
}


#poll-desc, #comments-container, #poll-dates {
	margin-bottom: 15px;
}

@media all and (max-width: (768px) ) {
	#app-content {
		position: relative !important;
	}
}
@media all and (max-width: (480px) ) {

	#app-content #votings {
		padding: 0px 2px;

		.flex-row {
			flex-direction: column;
				.first {
					height: 44px;
					width: unset;
				}

			&.user-cell, &.counter, &.counter .yes, &.counter .no, &.controls, &.breadcrump, &.submitPoll, &.newCommentForm, &.close {
				flex-direction: row;
			}

			&.header {
				flex-grow: 1;
				margin-left: 0;
				margin-top: 44px;
				width: 120px;
				padding: 0 0 0 4px;
				.vote {
					padding-right: 10px;
					&.option {
						align-items: baseline;
						width: 100%;
						border-top: $border_user;
					}
					&.time {
						align-items: center;
						width: 100%;
						border-top: $border_user;
						.counter {
							flex-direction: column;
							align-items: flex-end;
						}
					}
				}
			}

			&.user {
				display: none;
			}

			&.current-user {
				display: flex;
				width: 44px;
				padding:0;
				border: none;
				background-color: transparent;

				.poll-cell {
					border:none;
					border-radius: 0;
					border-top: 1px solid var(--color-border-dark);
					background-color: transparent;
					padding: 0 2px;
					&.active {
						&.yes {
							background-image: url('../img/yes-vote-bordered.svg');
						}

						&.no {
							background-image: url('../img/no-vote-bordered.svg');
						}

						&.maybe {
							background-image: url('../img/maybe-vote-bordered.svg');
						}
						&.unvoted {
							background-image: url('../img/unvoted-vote-bordered.svg');
						}
					}
				}
				.user-cell {
					position: absolute;
					left: 22px;
				}
				.poll-cell, .toggle-cell  {
					width: 44px;
					height: 44px;
					background-color: transparent;
				}
			}

		}

		.vote, .poll-cell {
			margin: 0;
		}

		.table {
			display: flex;
			padding: 0 8px 105px 0;
		}
	}

	.description {
		padding: 4px;
	}

	.flex-column {
		&.table-body {
			flex-grow: 0;
		}

		&.poll-cell, &.table {
			flex-direction: row;
			align-items: center;
		}
		&.vote.time {
			flex-direction: row;
		}
	}


	.submitPoll {
		border-top: $border_user;
		box-shadow: 0 0 9px 2px rgba(153,153,153,1);
		flex-wrap: wrap;
		align-items: center;
		position: fixed;
		background-color: var(--color-main-background);
		bottom: 0;
		left: 0;
		width: 100%;
		.finish_vote {
			padding: 8px 8px;
		}
		.notification {
			display: flex;
			padding: 8px 8px;
			line-height: 2em;
		}
	}


	#options.flex-row {
		flex-direction: column;
		width: 100%;
	}

}

 @media all and (max-width: (320px) ) {

	#app-content #votings .table {
		padding-bottom: 130px;
	}
}
