@import 'colors.scss';

$border_current_user: 2px solid;
$border_user: 1px solid var(--color-border-dark);
$table-padding: 17px;
$user-column-width: 265px;
$header-padding: $user-column-width + $table-padding;



.flex-row {
	align-items: center;
}

#app-content {
	// width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.actions {
	width: 44px;
	position: relative;
	overflow: initial;
}

.icon-more {
	right: 14px;
	opacity: 0.3;
	cursor: pointer;
	height: 44px;
	width: 44px;
}

.user {
	border-bottom: $border_user;
	height: 44px;
	padding: 0 $table-padding;
	order: 2;
	&.current-user {
		order: 1;
		// background-color: #91c8e9;
		// background-color: var(--color-primary-element-light);
		// background-color: var(--color-main-background-translucent);
		// background-color: var(--color-background-dark);
		height: 50px;
		.name {
			font-weight: bold;
		}
	}
}

.table {
	overflow-x: auto;
	padding-bottom: 10px;
	min-height: 280px;
}

.expired-vote{
	color: var(--color-error);
	font-weight: bold;
}

.header {
	padding: 0 $table-padding 0 $header-padding;
	align-items: center;
	border-bottom: $border_user;

	.date-box {
		padding: 0 2px;
		align-items: center;
		.month, .dayow {
			font-size: 1.2em;
			color: var(--color-text-lighter);
		}

		.day {
			font-size: 1.8em;
			margin: 5px 0 5px 0;
		}
	}

	.counter {
		font-size: 18px;
		& > div {
			margin: 0 5px;
			.svg {
				background-position: center;
				background-repeat: no-repeat;
				background-size: 18px;
				height: 24px;
				width: 24px;
			}
		}
		.yes {
			color: $fg-yes;
			.svg {
				// background-image: var(--icon-yes);
			}
		}
		.no {
			color: $fg-no;
			.svg {
				// background-image: var(--icon-no);
			}
		}
	}

	.winner {
		font-weight: bold;
		color: $fg-yes;
	}
	.vote.option {
		.date-box {
			flex-grow: 1;
		}

		.counter {
			flex-grow: 0;
			height: 32px;
		}
	}
}

#votings {
	position: relative !important;
	padding: 12px $table-padding;
	.first {
		flex-grow: 0;
		flex-shrink: 0;
		width: $user-column-width;
	}

	.vote {
		flex-grow: 1;
		width: 85px;
		// min-width: 85px;
		margin: 2px;
		align-items:center;
	}
}


.date-poll {
	.vote, .poll-cell {
		width: 85px;
	}
}

.name {
	margin-left: 5px;
}

.poll-cell {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px;
	height: 43px;
	display: flex;
	flex-grow: 1;
	width: 85px;
	// min-width: 85px;
	margin: 2px;
	align-items: center;

	&.yes {
		background-color: $bg-yes;
		color: $fg-yes;
	}

	&.no {
		background-color: $bg-no;
		color: $fg-no;
	}

	&.maybe {
		background-color: $bg-maybe;
		color: $fg-maybe;
	}

	&.unvoted {
		background-color: $bg-no;
		color: $fg-no;
		&:before {
			content: attr(data-unvoted);
			color: $fg-no;
			font-size: 11px;
			font-weight: bold;
			line-height: 25px;
		}
	}

	&.active {

		cursor: pointer;
		border: 2px solid;
		border-radius: var(--border-radius);
		box-sizing: border-box;
		width: 30px;
		// min-width: 30px;
		height: 30px;
		background-size: 20px;
		margin: auto !important;
		background-color: var(--color-main-background);
		// color: var(--color-primary);
		flex-grow: 0 !important;
		// box-shadow: 2px 2px 2px gray;
		&.icon-no {
			background-image: initial;
		}
		&.unvoted {
			background-color: $bg-maybe;
			color: $fg-maybe;
		}
		&:active {
			box-shadow: inherit;
		}
	}
}

.toggle-cell {
	display: none;
	height: 28px;
	height: 32px;
	width: 32px;
	flex-grow: 0;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px;

	&.yes {
		background-color: $bg-yes;
		background-image: url('../img/yes-toggle.svg');
	}

	&.no {
		background-color: $bg-no;
		background-image: url('../img/no-toggle.svg');
	}

	&.maybe {
		background-color: $bg-maybe;
		background-image: url('../img/maybe-toggle.svg');
	}

}


#switchDetails {
	margin-right: 32px;
}

.button.details {
	.badge {
		position: relative;
		top: -34px;
		left: -26px;
		// background-image: var(--icon-comment-yes);
		background-repeat: no-repeat;
		background-size: 33px;
		padding: 10px;
		margin: -10px;
		background-position-y: 9px;
		background-position-x: center;
		text-shadow: 1px 1px var(--color-box-shadow);
		color: var(--color-primary-text);
		// min-width: 34px;
		text-align: center;
		&.no-comments {
			// background-image: var(--icon-comment-no);
		}
	}
}

.external {
	min-width: 150px;
	.th {
		padding-left: 40px;

		input {
			min-width: 100px;
		}
	}
}

.finish_vote {
	padding: 10px $table-padding;
}


#poll-desc, #comments-container, #poll-dates {
	margin-bottom: 15px;
}

@media all and (max-width: (768px) ) {
	#app-content {
		position: relative !important;
	}
}
@media all and (max-width: (480px) ) {

	#votings {
		padding: 0px 2px;

		.flex-row {
			flex-direction: column;
				.first {
					height: 44px;
					width: unset;
				}

			&.user-cell, &.counter, &.counter .yes, &.counter .no, &.controls, &.breadcrump, &.submitPoll, &.newCommentForm, &.close {
				flex-direction: row;
			}

			&.header {
				flex-grow: 1;
				margin-left: 0;
				margin-top: 44px;
				width: 120px;
				padding: 0 0 0 4px;
				.vote {
					padding-right: 10px;
					&.option {
						align-items: baseline;
						width: 100%;
						border-bottom: $border_user;
					}
					&.time {
						align-items: center;
						width: 100%;
						border-top: $border_user;
						.counter {
							flex-direction: column;
							align-items: flex-end;
						}
					}
				}
			}

			&.user {
				display: none;
			}

			&.current-user {
				display: flex;
				width: 44px;
				margin: 0 10px;
				border: none;
				background-color: transparent;

				.poll-cell1 {
					border:none;
					border-radius: 0;
					border-top: 1px solid var(--color-border-dark);
					background-color: transparent;
					padding: 0 2px;
					&.active {
						&.yes {
							background-image: url('../img/yes-vote-bordered.svg');
						}

						&.no {
							background-image: url('../img/no-vote-bordered.svg');
						}

						&.maybe {
							background-image: url('../img/maybe-vote-bordered.svg');
						}
						&.unvoted {
							background-image: url('../img/unvoted-vote-bordered.svg');
						}
					}
				}
				.user-cell {
					position: absolute;
					left: 22px;
				}
				.poll-cell, .toggle-cell  {
					width: 44px;
					height: 44px;
					background-size: 30px;
					background-color: transparent;
				}
			}

		}

		.vote, .poll-cell {
			margin: 0;
		}

		.table {
			display: flex;
			padding: 0 8px 105px 0;
		}
	}

	.description {
		padding: 4px;
	}

	.flex-column {
		&.table-body {
			flex-grow: 0;
		}

		&.poll-cell, &.table {
			flex-direction: row;
			align-items: center;
		}
		&.vote.time {
			flex-direction: row;
		}
	}


	.submitPoll {
		border-top: $border_user;
		box-shadow: 0 0 9px 2px rgba(153,153,153,1);
		flex-wrap: wrap;
		align-items: center;
		position: fixed;
		background-color: var(--color-main-background);
		bottom: 0;
		left: 0;
		width: 100%;
		.finish_vote {
			padding: 8px 8px;
		}
		.notification {
			display: flex;
			padding: 8px 8px;
			line-height: 2em;
		}
	}


	#options.flex-row {
		flex-direction: column;
		width: 100%;
	}

}

 @media all and (max-width: (320px) ) {

	#app-content #votings .table {
		padding-bottom: 130px;
	}
}
