/*!
 * SPDX-FileCopyrightText: 2020 René Gieling <github@dartcafe.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.sticky-left {
	position: sticky;
	inset-inline-start: 0;
	z-index: 5;
}

.app-polls .clamped {
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	text-wrap: wrap;
	overflow: clip !important;
	text-overflow: ellipsis !important;
	padding: 0 !important;
}

.sortable {
	* {
		cursor: grab;
		&:active {
			cursor: grabbing;
		}
	}

	&:active {
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
	}
}
