/*!
 * SPDX-FileCopyrightText: 2020 René Gieling <github@dartcafe.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.sticky-left {
	position: sticky;
	left: 0;
	z-index: 5;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 4;
}