/*!
 * SPDX-FileCopyrightText: 2022 René Gieling <github@dartcafe.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.icon-polls {
	background-image: url(../../../img/polls.svg);
	filter: var(--background-invert-if-dark);
}

.icon-polls-dark {
	background-image: url(../../../img/polls-dark.svg);
	filter: var(--background-invert-if-dark);
}
