.DS_Store
.sass-cache/
.php_cs.cache
.php-cs-fixer.cache
.psalm.cache
.project/
.idea/
.vscode/
build/
css/*.map
js/*
nbproject/
node_modules/
tests/.phpunit.result.cache
npm-debug.log
vendor
vendor-bin/**/vendor/
Thumbs.db
yarn-error.log
*.cmd
*.iml
*.ntvs*
*.njsproj
*.sln
*.suo
