# SPDX-FileCopyrightText: 2016 Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

# build dirs
/assets
/css/*.map
/js
/css
/build

# Mac nonsense
.DS_Store

# Win nonsense
Thumbs.db

# local folders and files
.local

# caches
.sass-cache/
.php_cs.cache
.php-cs-fixer.cache
.psalm.cache
tests/.phpunit.result.cache

# logs
npm-debug.log
yarn-error.log

# IDEs
.project/
.idea/
.vscode/
nbproject/
*.iml
*.ntvs*
*.suo
*.sln
*.njsproj

# modules
node_modules/

# Composer vendors
vendor
vendor-bin/**/vendor/
vendor-bin/**/*.lock

# local command files
*.sh
*.cmd

# misc
tests/Api
