# SPDX-FileCopyrightText: 2024 Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# version control systems directories
**/.git
**/.svn
**/.hg

# Github workflows
.github/workflows/

# 3rdparty dependencies
**/node_modules
**/vendor
**/vendor-bin

# Compiled JS output
js/

# Handled by transifex
l10n/

# OpenAPI
openapi.json

# PHP
appinfo/
lib/
tests/
templates/
**/*.php
composer.json
composer.lock

# individual files
screenshots/
img/
cache/
build/
*.md

