#content-wrapper {
	padding-top: unset;
}

#content {
	box-sizing: border-box;
	position: relative;
	display: flex;
	padding-top: 45px;
	min-height: 100%;
	height: unset;
	width: unset;
}

#app-content {
	position: initial;
	height: initial;
	overflow-y: initial;
	flex-basis: 100vw;
}

#content[class*="app-"] * {
	box-sizing: border-box;
}

#controls {
	position: sticky;
	top: 45px;
	right: unset;
	left: unset;
	display: flex;
	height: 40px;
	padding: 0;
	margin: 0;
	z-index: 60;
	position: webkit-sticky;
}
