// TODO: preparation for full support of @media:prefers-color-scheme by core
// until then, this ha no effect

// dark mode, when
// @media (prefers-color-scheme: dark) && [data-themes="default"]

@media (prefers-color-scheme: dark) {
	:root, [data-theme-default] {
		--color-foreground-error: #dddddd;
		--color-foreground-success: #dddddd;
		--color-background-success: #2e4600;
		--color-background-error: #4d0d00;
		--color-polls-background-yes: #2e4600;
		--color-polls-background-no: #4d0d00;
		--color-polls-background-maybe: #665600;
		--color-background-translucent: rgba(24,24,24,0.8);
	}
}
