:root {
	--color-foreground-error: #222222;
	--color-foreground-success: #222222;
	--color-background-error: #f9c5c5;
	--color-background-success: #d6fdda;
	--color-polls-foreground-yes: #49bc49;
	--color-polls-foreground-no: #f45573;
	--color-polls-foreground-maybe: #ffc107;
	--color-polls-background-yes: #ebf5d6;
	--color-polls-background-no: #ffede9;
	--color-polls-background-maybe: #fcf7e1;
	--color-polls-background-yes--dark: #2e4600;
	--color-polls-background-no--dark: #4d0d00;
	--color-polls-background-maybe--dark: #665600;
}

:root .theme--dark {
	--color-foreground-error: #dddddd;
	--color-foreground-success: #dddddd;
	--color-background-success: #2e4600;
	--color-background-error: #4d0d00;
	--color-polls-background-yes: #2e4600;
	--color-polls-background-no: #4d0d00;
	--color-polls-background-maybe: #665600;

}
