:root {
	--color-polls-foreground-yes: var(--color-success);
	--color-polls-foreground-no: var(--color-error);
	--color-polls-foreground-maybe: var(--color-warning);
	--color-polls-background-yes: rgba(var(--color-success-rgb), 0.2);
	--color-polls-background-no: rgba(var(--color-error-rgb), 0.2);
	--color-polls-background-maybe: rgba(var(--color-warning-rgb), 0.2);
}
