// experimental colored background in the main area

.experimental {
	&.app-polls.bgcolored {
		.app-navigation {
			border-right: 0px;
			box-shadow: 2px 0 6px var(--color-box-shadow);
		}
		.app-content {
			background-color: var(--color-primary-light);
		}
		[class*='area__'] {
			padding: 8px;
			margin: 0 6px 24px 33px;
			box-shadow: 2px 2px 6px var(--color-box-shadow);
		}
	}

	// experimental background image
	&.app-polls.bgimage {
		.glassy {
			backdrop-filter: blur(10px);
			background-color: rgba(255, 255, 255, 0.5);
		}
		.app-navigation {
			border-right: 0px;
			box-shadow: 2px 0 6px var(--color-box-shadow);
		}
		.app-content {
			background-color: transparent;
		}
		[class*='area__'] {
			box-shadow: 2px 2px 6px var(--color-box-shadow);
			margin: 12px;
		}
	}
}
