// fill full input with background color
.mx-input {
	background-clip: initial !important;
}

.mx-datepicker-main svg {
	fill: var(--color-primary-element);
}

// force scrolling of sidebar-tabs content
.app-sidebar-tabs {
	overflow-y: hidden;
}

// fix avatardiv size to match the image
.avatardiv img {
	display: block;
}

// fix v-popover sizing
.poll-header-buttons {
	.trigger {
		display: inline !important;
	}
}

.modal-wrapper .modal-container {
	overflow: scroll !important;
}
