// material design icons
@mixin svg-icon($url) {
    background-image: $url;
}

// masked svg background icon
@mixin masked-icon($url, $color: var(--icon-md-color-default)) {
    -webkit-mask-image: $url;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: var(--icon-size);
    mask-image: $url;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: var(--icon-size);
	background-color: $color;

	&.empty-content__icon {
		mask-size: 64px;
		-webkit-mask-size: 64px;
	}
}

:root {
	--icon-md-shield-crown-outline: url('../icons/material-design/shield-crown-outline.svg');
	--icon-md-email: url('../icons/material-design/email.svg');
	--icon-md-share-variant: url('../icons/material-design/share-variant.svg');
	--icon-md-link-variant: url('../icons/material-design/link-variant.svg');

	--icon-size: 18px;
	--icon-md-color-default: #000;
	--icon-color-dark: #000;
	--icon-md-color-light: #fff;
}

[class*='icon-mask-md-'] {
	background-color: #000;
}

.theme--dark {
	&[class*='icon-mask-md-'] {
		background-color: #000 !important;
	}
	[class*='icon-mask-md-'] {
		background-color: #fff;
	}
}

// material design icons
// just svg background icon
.icon-svg-md-email { @include svg-icon(var(--icon-md-email)); }
.icon-svg-md-share { @include svg-icon(var(--icon-md-share-variant)); }
.icon-svg-md-link { @include svg-icon(var(--icon-md-link-variant)); }

// mask icons
// UserItem.vue
.icon-mask-md-admin { @include masked-icon(var(--icon-md-shield-crown-outline)); }

