// TODO: preparation for full support of @media:prefers-color-scheme by core
// until then, this ha no effect

@media (prefers-color-scheme: dark) {
	:root {
		--icon-polls: url('../icons/polls-fff.svg');
		--icon-circles: url('../icons/circles-fff.svg');
		--icon-polls-loading: url('../icons/loading-small.gif');
	}
}
