// material design icons
:root {
	--icon-md-exclamation-thick: url('../icons/material-design/exclamation-thick.svg');
	--icon-md-wrench: url('../icons/material-design/wrench.svg');
	--icon-md-format-list-checks: url('../icons/material-design/format-list-checks.svg');
	--icon-md-share-variant: url('../icons/material-design/share-variant.svg');
	--icon-md-comment-processing: url('../icons/material-design/comment-processing.svg');
	--icon-md-lock: url('../icons/material-design/lock.svg');
	--icon-md-clock-outline: url('../icons/material-design/clock-outline.svg');
	--icon-md-poll: url('../icons/material-design/poll.svg');
	--icon-md-link-variant: url('../icons/material-design/link-variant.svg');
	--icon-md-calendar-month: url('../icons/material-design/calendar-month.svg');
	--icon-md-calendar-blank: url('../icons/material-design/calendar-blank.svg');
	--icon-md-calendar-end: url('../icons/material-design/calendar-end.svg');
	--icon-md-format-list-bulleted-square: url('../icons/material-design/format-list-bulleted-square.svg');
	--icon-md-format-list-checkbox: url('../icons/material-design/format-list-checkbox.svg');
	--icon-md-earth: url('../icons/material-design/earth.svg');
	--icon-md-email-edit-outline: url('../icons/material-design/email-edit-outline.svg');
	--icon-md-archive: url('../icons/material-design/archive.svg');
	--icon-md-crown: url('../icons/material-design/crown.svg');
	--icon-md-check: url('../icons/material-design/check.svg');
	--icon-md-close: url('../icons/material-design/close.svg');
	--icon-md-polls-maybe: url('../icons/material-design/polls-maybe.svg');
	--icon-md-offer: url('../icons/material-design/offer.svg');
	--icon-md-map-clock-outline: url('../icons/material-design/map-clock-outline.svg');
	--icon-md-content-copy: url('../icons/material-design/content-copy.svg');
	--icon-md-account-cog: url('../icons/material-design/account-cog.svg');
	--icon-md-recycle: url('../icons/material-design/recycle.svg');
	--icon-md-key: url('../icons/material-design/key.svg');
	--icon-md-monitor: url('../icons/material-design/monitor.svg');
	--icon-md-monitor-off: url('../icons/material-design/monitor-off.svg');
	--icon-md-monitor-lock: url('../icons/material-design/monitor-lock.svg');
	--icon-md-delete: url('../icons/material-design/delete.svg');
	--icon-md-undo: url('../icons/material-design/undo.svg');
	--icon-md-cog: url('../icons/material-design/cog.svg');
	--icon-md-account-group: url('../icons/material-design/account-group.svg');
	--icon-md-incognito: url('../icons/material-design/incognito.svg');
	--icon-md-bell: url('../icons/material-design/bell.svg');
	--icon-md-bell-off: url('../icons/material-design/bell-off.svg');
	--icon-md-account-check: url('../icons/material-design/account-check.svg');
	--icon-md-lock-open-variant: url('../icons/material-design/lock-open-variant.svg');
	--icon-md-vector-combine: url('../icons/material-design/vector-combine.svg');
	--icon-md-clipboard-arrow-left-outline: url('../icons/material-design/clipboard-arrow-left-outline.svg');
	--icon-md-checkbox-marked-outline: url('../icons/material-design/checkbox-marked-outline.svg');
}

[class*='icon-md-'] {
	background-color: #000;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 18px;
	&.empty-content__icon {
		mask-size: 64px;
	}
}

.theme--dark {
	&[class*='icon-md-'] {
		background-color: #000 !important;
	}
	[class*='icon-md'] {
		background-color: #fff;
	}
}

// material design icons
.icon-md-navigation-relevant {
    -webkit-mask-image: var(--icon-md-exclamation-thick);
    mask-image: var(--icon-md-exclamation-thick);
}

.icon-md-navigation-my,
.icon-md-owner {
	-webkit-mask-image: var(--icon-md-crown);
	mask-image: var(--icon-md-crown);
}

.icon-md-navigation-private,
.icon-md-private-poll {
    -webkit-mask-image: var(--icon-md-key);
    mask-image: var(--icon-md-key);
}

.icon-md-navigation-open,
.icon-md-open-poll {
    -webkit-mask-image: var(--icon-md-earth);
    mask-image: var(--icon-md-earth);
}

.icon-md-navigation-participated {
    -webkit-mask-image: var(--icon-md-account-check);
    mask-image: var(--icon-md-account-check);
}

.icon-md-navigation-all {
    -webkit-mask-image: var(--icon-md-poll);
    mask-image: var(--icon-md-poll);
}

.icon-md-navigation-closed, .icon-md-closed-poll {
    -webkit-mask-image: var(--icon-md-lock);
    mask-image: var(--icon-md-lock);
}

.icon-md-navigation-archived,
.icon-md-archived-poll,
.icon-md-archive-poll {
    -webkit-mask-image: var(--icon-md-archive);
    mask-image: var(--icon-md-archive);
}

.icon-md-navigation-combo {
    -webkit-mask-image: var(--icon-md-vector-combine);
    mask-image: var(--icon-md-vector-combine);
}

.icon-md-navigation-administration {
    -webkit-mask-image: var(--icon-md-cog);
    mask-image: var(--icon-md-cog);
}

.icon-md-navigation-personal-settings {
    -webkit-mask-image: var(--icon-md-account-cog);
    mask-image: var(--icon-md-account-cog);
}

.icon-md-sidebar-options {
    -webkit-mask-image: var(--icon-md-format-list-checks);
    mask-image: var(--icon-md-format-list-checks);
}

.icon-md-sidebar-configuration {
    -webkit-mask-image: var(--icon-md-wrench);
    mask-image: var(--icon-md-wrench);
}

.icon-md-sidebar-comments {
    -webkit-mask-image: var(--icon-md-comment-processing);
    mask-image: var(--icon-md-comment-processing);
}

.icon-md-sidebar-share {
    -webkit-mask-image: var(--icon-md-share-variant);
    mask-image: var(--icon-md-share-variant);
}

.icon-md-date-options {
	-webkit-mask-image: var(--icon-md-calendar-month);
    mask-image: var(--icon-md-calendar-month);
}

.icon-md-date-poll {
	-webkit-mask-image: var(--icon-md-calendar-blank);
    mask-image: var(--icon-md-calendar-blank);
}

.icon-md-anonymous-poll {
	-webkit-mask-image: var(--icon-md-incognito);
    mask-image: var(--icon-md-incognito);
}

.icon-md-text-poll {
	-webkit-mask-image: var(--icon-md-format-list-bulleted-square);
    mask-image: var(--icon-md-format-list-bulleted-square);
}

.icon-md-clone-poll {
	-webkit-mask-image: var(--icon-md-content-copy);
    mask-image: var(--icon-md-content-copy);
}

.icon-md-restore-poll {
	-webkit-mask-image: var(--icon-md-recycle);
    mask-image: var(--icon-md-recycle);
}

.icon-md-delete-poll {
	-webkit-mask-image: var(--icon-md-delete);
    mask-image: var(--icon-md-delete);
}

.icon-md-expiration {
	-webkit-mask-image: var(--icon-md-calendar-end);
    mask-image: var(--icon-md-calendar-end);
}

.icon-md-creation {
	-webkit-mask-image: var(--icon-md-clock-outline);
    mask-image: var(--icon-md-clock-outline);
}

.icon-md-clippy {
	-webkit-mask-image: var(--icon-md-clipboard-arrow-left-outline);
    mask-image: var(--icon-md-clipboard-arrow-left-outline);
}

.icon-md-reset-votes {
	-webkit-mask-image: var(--icon-md-undo);
    mask-image: var(--icon-md-undo);
}

.icon-md-subscribed {
	-webkit-mask-image: var(--icon-md-bell);
    mask-image: var(--icon-md-bell);
}

.icon-md-unsubscribed {
	-webkit-mask-image: var(--icon-md-bell-off);
    mask-image: var(--icon-md-bell-off);
}

.icon-md-participants {
	-webkit-mask-image: var(--icon-md-account-group);
    mask-image: var(--icon-md-account-group);
}

.icon-md-show-results {
	-webkit-mask-image: var(--icon-md-monitor);
    mask-image: var(--icon-md-monitor);
}

.icon-md-hide-results-until-closed {
	-webkit-mask-image: var(--icon-md-monitor-lock);
    mask-image: var(--icon-md-monitor-lock);
}

.icon-md-show-results-never {
	-webkit-mask-image: var(--icon-md-monitor-off);
    mask-image: var(--icon-md-monitor-off);
}

.icon-md-options {
	-webkit-mask-image: var(--icon-md-format-list-checkbox);
    mask-image: var(--icon-md-format-list-checkbox);
}

.icon-md-timezone {
	-webkit-mask-image: var(--icon-md-map-clock-outline);
    mask-image: var(--icon-md-map-clock-outline);
}

.icon-md-proposals-allowed,
.icon-md-proposals {
	-webkit-mask-image: var(--icon-md-offer);
    mask-image: var(--icon-md-offer);
}

.icon-md-edit-email-address {
	-webkit-mask-image: var(--icon-md-email-edit);
    mask-image: var(--icon-md-email-edit);
}

.icon-md-send-link-per-email {
	-webkit-mask-image: var(--icon-md-link-variant);
    mask-image: var(--icon-md-link-variant);
}

.icon-md-yes-vote,
.icon-md-yes-votes {
	background-color: var(--color-polls-foreground-yes) !important;
	-webkit-mask-image: var(--icon-md-check);
    mask-image: var(--icon-md-check);
}

.icon-md-no-vote,
.icon-md-no-votes {
	background-color: var(--color-polls-foreground-no) !important;
	-webkit-mask-image: var(--icon-md-close);
    mask-image: var(--icon-md-close);
}

.icon-md-maybe-vote,
.icon-md-maybe-votes {
	background-color: var(--color-polls-foreground-maybe) !important;
	-webkit-mask-image: var(--icon-md-polls-maybe);
    mask-image: var(--icon-md-polls-maybe);
}
