:root {
	--polls-vote-rows: 1;
	--polls-vote-columns: 1;
	--icon-circles: url('../icons/circles.svg');
	--icon-circles--fff: url('../icons/circles-fff.svg');
	--icon-clock: url('../icons/clock.svg');
	--icon-clock--fff: url('../icons/clock-fff.svg');
	--icon-polls: url('../icons/polls.svg');
	--icon-polls--fff: url('../icons/polls-fff.svg');
	--icon-polls-anonymous: url('../icons/anonymous.svg');
	--icon-polls-anonymous--fff: url('../icons/anonymous-fff.svg');
	--icon-polls-back: url('../icons/back.svg');
	--icon-polls-back--fff: url('../icons/back-fff.svg');
	--icon-polls-clone: url('../icons/clone.svg');
	--icon-polls-clone--fff: url('../icons/clone-fff.svg');
	--icon-polls-closed: url('../icons/closed.svg');
	--icon-polls-closed--fff: url('../icons/closed-fff.svg');
	--icon-polls-confirmed: url('../icons/confirmed.svg');
	--icon-polls-confirmed--fff: url('../icons/confirmed-fff.svg');
	--icon-polls-handle: url('../icons/handle.svg');
	--icon-polls-handle--fff: url('../icons/handle-fff.svg');
	--icon-polls-hidden-poll: url('../icons/invisible.svg');
	--icon-polls-hidden-poll--fff: url('../icons/invisible-fff.svg');
	--icon-polls-hidden: url('../icons/invisible.svg');
	--icon-polls-hidden--fff: url('../icons/invisible-fff.svg');
	--icon-polls-list-view: url('../icons/list-view.svg');
	--icon-polls-list-view-fff: url('../icons/list-view-fff.svg');
	--icon-polls-loading: url('../icons/loading-small.gif');
	--icon-polls-mail: url('../icons/mail.svg');
	--icon-polls-mail--fff: url('../icons/mail-fff.svg');
	--icon-polls-maybe: url('../icons/maybe-vote.svg');
	--icon-polls-move: url('../icons/move.svg');
	--icon-polls-move--fff: url('../icons/move-fff.svg');
	--icon-polls-minus: url('../icons/minus.svg');
	--icon-polls-no: url('../icons/no-vote.svg');
	--icon-polls-open: url('../icons/open.svg');
	--icon-polls-open--fff: url('../icons/open-fff.svg');
	--icon-polls-public-poll: url('../icons/visible.svg');
	--icon-polls-public-poll--fff: url('../icons/visible-fff.svg');
	--icon-polls-sidebar-toggle: url('../icons/sidebar-toggle.svg');
	--icon-polls-sidebar-toggle--fff: url('../icons/sidebar-toggle-fff.svg');
	--icon-polls-table-view: url('../icons/table-view.svg');
	--icon-polls-table-view-fff: url('../icons/table-view-fff.svg');
	--icon-polls-visible: url('../icons/visible.svg');
	--icon-polls-visible--fff: url('../icons/visible-fff.svg');
	--icon-polls-unconfirmed: url('../icons/unconfirmed.svg');
	--icon-polls-unconfirmed--fff: url('../icons/unconfirmed-fff.svg');
	--icon-polls-yes: url('../icons/yes-vote.svg');

	// filters to colorize background svg from black
	// generated with https://codepen.io/jsm91/embed/ZEEawyZ?height=600&default-tab=result&embed-version=2
	--color-polls-foreground-filter-yes: invert(74%) sepia(7%) saturate(3830%) hue-rotate(68deg) brightness(85%) contrast(85%);
	--color-polls-foreground-filter-no: invert(43%) sepia(100%) saturate(1579%) hue-rotate(318deg) brightness(99%) contrast(94%);
	--color-polls-foreground-filter-maybe: invert(81%) sepia(22%) saturate(3383%) hue-rotate(353deg) brightness(101%) contrast(101%);
}

.icon-circles { background-image: var(--icon-circles); }
.icon-handle { background-image: var(--icon-polls-handle); }
.icon-list-view { background-image: var(--icon-polls-list-view); }
.icon-polls { background-image: var(--icon-polls); }
.icon-polls-anonymous { background-image: var(--icon-polls-anonymous); }
.icon-polls-back { background-image: var(--icon-polls-back); }
.icon-polls-clone { background-image: var(--icon-polls-clone); }
.icon-polls-closed { background-image: var(--icon-polls-closed); }
.icon-polls-closed-fff { background-image: var(--icon-polls-closed--fff); }
.icon-polls-confirmed { background-image: var(--icon-polls-confirmed); }
.icon-polls-hidden-poll { background-image: var(--icon-polls-hidden-poll); }
.icon-polls-hidden { background-image: var(--icon-polls-hidden-poll); }
.icon-polls-mail { background-image: var(--icon-polls-mail); }
.icon-polls-maybe { background-image: var(--icon-polls-maybe); }
.icon-polls-minus { background-image: var(--icon-polls-minus); }
.icon-polls-move { background-image: var(--icon-polls-move); }
.icon-polls-no { background-image: var(--icon-polls-no); }
.icon-polls-open { background-image: var(--icon-polls-open); }
.icon-polls-public-poll { background-image: var(--icon-polls-public-poll); }
.icon-polls-sidebar-toggle { background-image: var(--icon-polls-sidebar-toggle); }
.icon-polls-unconfirmed { background-image: var(--icon-polls-unconfirmed); }
.icon-table-view { background-image: var(--icon-polls-table-view); }
.icon-polls-visible { background-image: var(--icon-polls-public-poll); }
.icon-polls-yes { background-image: var(--icon-polls-yes); }

.theme--dark {
	.icon-circles { background-image: var(--icon-circles--fff); }
	.icon-handle { background-image: var(--icon-polls-handle--fff); }
	.icon-list-view { background-image: var(--icon-polls-list-view-fff); }
	.icon-polls { background-image: var(--icon-polls--fff); }
	.icon-polls-anonymous { background-image: var(--icon-polls-anonymous--fff); }
	.icon-polls-back { background-image: var(--icon-polls-back--fff); }
	.icon-polls-clone { background-image: var(--icon-polls-clone--fff); }
	.icon-polls-closed { background-image: var(--icon-polls-closed--fff); }
	.icon-polls-confirmed { background-image: var(--icon-polls-confirmed--fff); }
	.icon-polls-hidden { background-image: var(--icon-polls-hidden-poll--fff); }
	.icon-polls-hidden-poll { background-image: var(--icon-polls-hidden-poll--fff); }
	.icon-polls-mail { background-image: var(--icon-polls-mail--fff); }
	.icon-polls-move { background-image: var(--icon-polls-move--fff); }
	.icon-polls-open { background-image: var(--icon-polls-open--fff); }
	.icon-polls-public-poll { background-image: var(--icon-polls-public-poll--fff); }
	.icon-polls-sidebar-toggle { background-image: var(--icon-polls-sidebar-toggle--fff); }
	.icon-polls-unconfirmed { background-image: var(--icon-polls-unconfirmed--fff); }
	.icon-table-view { background-image: var(--icon-polls-table-view-fff); }
}
