/*!
 * SPDX-FileCopyrightText: 2020 René Gieling <github@dartcafe.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@media print {
	#content-vue,
	.app-polls {
		padding-top: 0 !important;
	}

	.vote-item {
		background: none !important;

		> .icon {
			background: none !important;
			width: initial !important;
			height: initial !important;
			&::after {
				content: '❌';
			}
		}

		&.active > .icon{
			border: none !important;
		}


		&.yes > .icon::after {
			content: '✔';
		}

		&.maybe > .icon::after {
			content: '❔';
		}
	}

	.area__header {
		margin-inline-start: 0 !important;
	}

	.vote-table__votes,
	.vote-table .vote-table__users {
		overflow-x: initial !important;
		min-width: initial !important;
	}

	.table-view .vote-table__votes,
	.table-view .vote-table .vote-table__users {
		max-width: 200px;
	}

	.counter{
		.yes {
			background: none !important;
			&::before {
				content: '✔';
				padding-inline-end: 4px;
			}
		}

		.maybe {
			background: none !important;
			&::before {
				content: '❔';
				padding-inline-end: 4px;
			}
		}

		.no {
			background: none !important;
			&::before {
				content: '❌';
				padding-inline-end: 4px;
			}
		}
	}


	.app-content {
		background-color: transparent !important;
		[class*='area__'] {
			box-shadow: initial !important;
			margin: 0 !important;
		}
	}

	footer,
	#header,
	#app-navigation-vue,
	#app-sidebar-vue,
	.counter.barStyle,
	.area__footer,
	.action-item,
	.header-actions,
	.app-navigation,
	.option-proposals,
	.vote-table__users .owner,
	.option-item-owner.owner,
	.app-sidebar {
		display: none !important;
	}
}
