// Adopt dashboard style for elements outside of polls app
// Styles are mostly adopted from the dashboard app in the server repository
// -- https://github.com/nextcloud/server/tree/master/apps/dashboard/css

// Theming styles


@mixin translucentHeader {
	// Transparent app menu header; Adopted from the dashboard
	#header {
		background: transparent !important;
		// --color-header: rgba(24, 24, 24, 1);
	
		// Show gradient below navigation for visibility of icons when scrolled
		&:before {
			content: ' ';
			display: block;
			position: absolute;
			background-image: linear-gradient(180deg, var(--color-header) 20%, transparent 100%);
			width: 100%;
			height: 50px;
			top: 0;
			margin-top: -70px;
			transition: margin-top var(--animation-slow);
		}
	}

	&.page--scrolled {
		#header::before {
			margin-top: 0;
		}
	}
}

@mixin roundedCorners {
	// rounded corners for all app areas
	.app-navigation {
		border-right: 0px;
		box-shadow: 2px 0 6px var(--color-box-shadow);
		border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
	}

	.app-sidebar {
		border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
	}

	[class*=" area__"],
	[class^="area__"] {
		padding: 8px;
		margin: 0 0 0 0;
		border-radius: var(--border-radius-large);
		box-shadow: 2px 2px 6px var(--color-box-shadow);
	}
}

@mixin flatAppHeader {
	.area__header_vote {
		box-shadow: none;
		backdrop-filter: none !important;
		border: none;
		background-color: transparent !important;
		transition: all var(--animation-slow) linear;
	}
}

@mixin fixedAppHeader {
	// fixes the app header, when page is scrolled horizontally
	[class*=" area__header"],
	[class^="area__header"] {
		background-color: var(--color-main-background);
		backdrop-filter: initial;
		box-shadow: 6px 6px 6px var(--color-box-shadow);
		margin-right: 0;
		margin-left: -6px;
		transition: all var(--animation-slow) linear;
	}
}

@mixin tiledAreas {
	// visually separated areas as tiles
	.app-content {
		padding: 0px 16px;
		row-gap: 16px;
	}

	.vote_main {
		row-gap: 16px;
	}
	
	[class*=" area__header"],
	[class^="area__header"] {
		top: 50px;
		padding-left: 60px;
	}
	
	// empasize the action menu inside the app header
	.poll-header-buttons {
		align-self: flex-end;
		border-radius: var(--border-radius-pill);
		background-color: var(--color-main-background);
	}
}

@mixin translucentAreas {
	// adds the translucent effect to the tiles
	.app-navigation,
	.app-sidebar,
	.poll-header-buttons,
	[class*=" area__"],
	[class^="area__"] {
		backdrop-filter: blur(10px);
		background-color: var(--color-background-translucent);
	}
}

@mixin headerDark {
	#header {
		--color-header: rgba(255, 255, 255, 1);
		.header-left {
			filter: invert(1) hue-rotate(180deg) !important;
			#nextcloud {
				opacity: 1;
			}
		}

		.header-right {
			.notifications,
			.unified-search,
			#contactsmenu {
				filter: invert(1) hue-rotate(180deg) !important;
				opacity: 1;
			}
		}
	}
}

@mixin appHeaderDark {
	.area__header_vote .bar_top_left,
	.area__header_vote .header_bar_bottom, 
	.app-navigation-toggle {
		filter: invert(1) hue-rotate(180deg) !important;
	}
}

[class*='dashboard--'] {
	@include roundedCorners();
	@include tiledAreas();
	@include translucentHeader();
	@include translucentAreas();
	&:not(.page--scrolled) {
		@include flatAppHeader();
	}
	&.page--scrolled {
		@include fixedAppHeader();
	}
}

[class*='polls--'] {
	@include roundedCorners();
	@include tiledAreas();
	.translucent {
		@include translucentAreas();
	}
	&:not(.page--scrolled) {
		@include flatAppHeader();
	}
	&.page--scrolled {
		@include fixedAppHeader();
	}
}

.dashboard--dark {
	@include headerDark();
}

.theme--dark.dashboard--dark,
.polls--light {
	&:not(.page--scrolled) {
		@include appHeaderDark();
	}
}