.transitions-active {
	.list-enter-active,
	.list-leave-active {
		transition: all 0.5s ease;
	}

	.list-enter,
	.list-leave-to {
		opacity: 0;
	}

	.list-move {
		transition: transform 0.5s;
	}

	.fade-leave-active .fade-enter-active{
		transition: opacity 0.5s;
	}

	.fade-enter, .fade-leave-to {
		opacity: 0;
	}
}
