# SPDX-FileCopyrightText: 2020 Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
name: Node CI

on:
  pull_request:
  push:
    branches:
      - main
      - master*
      - next
      - stable*

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build app
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          node-version: '20'

      - name: build
        run: npm run build --if-present
