name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        npm-version: [7]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up npm ${{ matrix.npm-version }}
      run: npm i -g npm@"${{ matrix.npm-version }}"
    - name: install dependencies
      run: npm ci
    - name: build
      run: npm run build --if-present
