# SPDX-FileCopyrightText: 2022 Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
name: Publish alpha

on:
  push:
    tags:
      - v*-alpha*

jobs:
  checkout:
    runs-on: ubuntu-latest
    name: Alpha release
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Check correct app version
      id: appinfo
      uses: ./.github/actions/get-polls-version

    - name: Setup node
      if: success()
      uses: ./.github/actions/setup-node

    - name: Setup composer and PHP
      if: success()
      uses: ./.github/actions/setup-composer
      with:
        mode: production
        php-tools: composer

    - name: build
      run: npm run dev --if-present

    - name: Make appstore package ${{ steps.appinfo.outputs.app-version }}
      if: success()
      run: make package

    - name: rename packages to polls-${{ steps.appinfo.outputs.app-version }}
      if: success()
      run: mv build/artifacts/polls.tar.gz build/artifacts/polls-${{ steps.appinfo.outputs.app-version }}.tar.gz

    - name: create zip archive from sources
      if: success()
      run: |
        pushd build/source
        zip -r ../artifacts/polls-${{ steps.appinfo.outputs.app-version }}.zip *
        popd

    - name: Extract release notes
      if: success()
      id: extract-release-notes
      uses: ffurrer2/extract-release-notes@202313ec7461b6b9e401996714484690ab1ae105 # 3.0.0
      with:
        prerelease: true

    - name: Publish pre-release ${{ steps.appinfo.outputs.app-version }}
      if: success()
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # 2.5.0
      with:
        body: "# Changelog for the upcoming release (preview)\n ${{ steps.extract-release-notes.outputs.release_notes }} "
        prerelease: true
        draft: true
        generate_release_notes: true
        files: |
          build/artifacts/polls-${{ steps.appinfo.outputs.app-version }}.tar.gz
          build/artifacts/polls-${{ steps.appinfo.outputs.app-version }}.zip
