# SPDX-FileCopyrightText: 2020 Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
name: Mark stale issues

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # 10.1.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is marked as stale, because it had no activity in the last 30 days. It will be closed in 5 days.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        exempt-issue-labels: 'enhancement,bug,investigate,UX,summary'
        exempt-pr-labels: 'enhancement,bug,investigate,UX'
        exempt-all-milestones: true
        days-before-stale: 30
        days-before-close: 5
        days-before-issue-stale: 30
        days-before-issue-close: 5
        days-before-pr-stale: -1
        days-before-pr-close: -1
        exempt-draft-pr: true
